.board {
  display: grid;
  grid-template-columns: repeat(11, 2.5vw);
  margin: auto;
}

.board .x-axis,
.board .y-axis,
.board .tile {
  height: 2.5vw;
  font-size: 150%;
}

.board .x-axis span,
.board .y-axis span {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
}

.board .x-axis {
  border-left: 1px solid black;
}

.board .y-axis {
  border-top: 1px solid black;
}

.board .tile {
  border: 1px solid black;
  background-color: #ddd;
}

.board .ship-unharmed {
  background-color: #666;
  border: none;
}
