nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: navy;
}

nav .balancer {
  width: 177px;
}

nav #leaderboard-button {
  margin-top: 10px;
  margin-right: 10px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 200%;
  background-color: white;
}

nav #leaderboard-button:hover {
  background-color: #ddd;
}

nav h2 {
  font-size: 300%;
  color: #ddd;
}
