main {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.container {
  padding-left: 6vw;
  padding-right: 6vw;
  width: 40%;
  border: 1px solid black;
  background-color: #6b6bff;
}

.container p,
.container button,
.container .name {
  display: flex;
  justify-content: center;
}

.container .name {
  font-size: 200%;
  width: 200px;
  min-height: 50px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: #6b6bff;
}

.container p,
.container button {
  margin-top: 40px;
  width: 90%;
  font-size: 200%;
}

.container button {
  border-radius: 5px;
  border: 2px solid black;
}

.container button:hover {
  background-color: #ddd;
}

nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: navy;
}

nav h2 {
  display: flex;
  justify-content: center;
  font-size: 300%;
  color: #ddd;
}

aside {
  width: 20%;
  background-color: #ddd;
}

aside h3 {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

aside #log-messages {
  max-height: 500px;
  overflow: scroll;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 2.5vw);
  margin: auto;
}

.board .x-axis,
.board .y-axis,
.board .tile {
  height: 2.5vw;
  font-size: 150%;
}

.board .x-axis span,
.board .y-axis span {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
}

.board .x-axis {
  border-left: 1px solid black;
}

.board .y-axis {
  border-top: 1px solid black;
}

.board .tile {
  border: 1px solid black;
  background-color: #ddd;
}

.board .ship-unharmed,
.board .ship-hit,
.board .ship-sunk,
.board .hit,
.board .sunk {
  border: none;
}

.board .ship-unharmed {
  background-color: #666;
}

.board .ship-hit,
.board .hit,
.board .sunk {
  background-color: orange;
}

.board .ship-sunk {
  background-color: red;
}

.board .miss {
  background-color: yellow;
}
